// -------------------------- Colors

// Base
$black: #373737;
$grey3: grey;
$grey2: darkgrey;
$grey1: lightgrey;
$white: white;

// Links
$link: #0000EE;
$visited: #551A8B;

// Accessibility and forms
$focus: #4FCD90;
$error: #D0021B;