// -------------------------- Colors

// Base
$black: #373737;
$grey3: #E0E0E0;
$grey2: #F0F0F0;
$grey1: #F8F8F8;
$white: white;

// Links
$link: #0000EE;
$visited: #551A8B;

// Accessibility and forms
$focus: #4FCD90;
$error: #D0021B;