.LogoutLink {
    padding: 0;
    display: inline;
    margin: 0 0 0 1rem;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
    &:hover {
        text-decoration: underline;
    }
}