.Content {
    position: relative;
    width: 100vw;
    padding: $spacer-1;
    @include removeChildrenMargins(both);
    @include breakpoint($sidebar-break) {
        width: calc(100vw - #{$sidebar-width});
    }
    .ContentOverlay {
        display: none;
        position: absolute;
        z-index: 200;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
    }
}